*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*_view.pdf
.DS_Store
.auctex-auto/
etc/
drafts/
*.glsdefs
*.el
Icon[]
.ipynb_checkpoints
__pycache__/
data/
*.gl*-abr